$black: #141414;
$white: #ffffff;
$grey: #616161;
$lightgrey: #B2B2B2;
$orange: #F6A040;
$pink: #F25C96;
$green: #5BD03D;
$blue: #318CF7;
$darkblue: #03008A;

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
    color: $black;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

h1{
    margin-block-end: 0px;
    margin-block-start: 0px;
}

p{
    margin-block-end: 0px;
    margin-block-start: 0px;
}

.text-orange{
    color: $orange;
}

.text-pink{
    color: $pink;
}

.text-green{
    color: $green;
}

.text-blue{
    color: $blue;
}

.text-darkblue{
    color: $darkblue;
}

@keyframes fadeInAnimationLeft{
    0%{
        transform: translateX(-50px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes fadeInAnimationRight{
    0%{
        transform: translateX(50px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

.main{
    height: 100vh;
    width: 100%;

    @media screen and (max-width: 900px) {
        height: calc(30vh + 400px);
    }

    @media screen and (max-width: 400px) {
        height: calc(30vh + 450px);
    }


    .left-holder{
        width: 70%;
        height: 100%;
        display: inline-block;
        float: left;

        @media screen and (max-width: 900px) {
            display: block;
            width: 100%;
            height: 400px;
            position: absolute;
            top: 30vh;
        }

        @media screen and (max-width: 400px) {
            display: block;
            width: 100%;
            height: 450px;
            position: absolute;
            top: 30vh;
        }

        .content{
            width: 80%;
            height: auto;
            position: relative;
            top: 50vh;
            left: 50%;
            transform: translate(-50%,-50%);

            @media screen and (max-width: 900px) {
                top: 10vh;
                width: 90%;
                left: 5vw;
                transform: translate(0%,0%);
            }

            h1{
                font-weight: 500;
                color:$black;
                font-size: 82px;
                margin-bottom: 45px;
                transform: translateX(-50px);
                opacity: 0;
                animation: fadeInAnimationLeft .6s ease .2s forwards;

                @media screen and (max-width: 1400px) {
                    font-size: 62px;
                }

                @media screen and (max-width: 1100px) {
                    font-size: 52px;
                }

                @media screen and (max-width: 900px) {
                    font-size: 32px;
                    margin-bottom: 30px;
                }

            }

            p{
                font-weight: 300;
                color: $grey;
                font-size: 48px;
                line-height: 170%;
                margin-bottom: 45px;
                max-width: 950px;
                transform: translateX(-50px);
                opacity: 0;
                animation: fadeInAnimationLeft .6s ease .4s forwards;

                @media screen and (max-width: 1400px) {
                    font-size: 40px;
                    max-width: 800px;
                }

                @media screen and (max-width: 1100px) {
                    font-size: 32px;
                    max-width: 600px;
                }

                @media screen and (max-width: 900px) {
                    font-size: 24px;
                    margin-bottom: 25px;
                }

                span{
                    text-decoration: underline;
                }

            }

            .small{

                color: $lightgrey;
                font-size: 16px;

                @media screen and (max-width: 1400px) {
                    font-size: 14px;
                }

                @media screen and (max-width: 1100px) {
                    font-size: 12px;
                }

                @media screen and (max-width: 900px) {
                    font-size: 10px;
                }

            }

        }

    }

    .right-holder{
        width: 30%;
        height: 100%;
        display: inline-block;
        float: right;

        transform: translateX(50px);
        opacity: 0;
        animation: fadeInAnimationRight .8s ease .2s forwards;

        @media screen and (max-width: 900px) {
            display: block;
            width: 100%;
            height: 30vh;
            position: absolute;
            top: 0vh;
        }

        img{
            width: 100%;
            height: auto;
            position: relative;
            top: 50%;
            transform: translateY(-50%);

            @media screen and (max-width: 900px) {
                height: 100%;
                width: auto;
                float: right;
            }

        }

    }

}

.socials-mobile{

    transform: translateX(-50px);
    opacity: 0;
    animation: fadeInAnimationLeft .6s ease .6s forwards;

    position: relative;
    top: 0px;
    left: 5vw;
    display: none;
    width: 202px;
    padding-bottom: 100px;

    @media screen and (max-width: 900px) {
        display: block;
    }

    .icon{
        display: inline;
        margin-right: 24px;
    }

    .margin-remover{
        margin-right: 0px !important;
    }

    .divider{
        width: 100%;
        height: 2px;
        background: #fafafa;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    svg{
        path{
            transition:all .4s ease;
        }
    }

    .dribbble{
        &:hover{
     
            svg{
                path{
                    fill:#Ee66aa;
                }
            }

        }
    }

    .behance{
        &:hover{
     
            svg{
                path{
                    fill:#053eff;
                }
            }

        }
    }

    .youtube{
        &:hover{
     
            svg{
                path{
                    fill:#c4302b;
                }
            }

        }
    }

    .twitter{
        &:hover{
     
            svg{
                path{
                    fill:#00acee;
                }
            }

        }
    }

    .instagram{
        &:hover{
     
            svg{
                path{
                    fill:#E1306C;
                }
            }

        }
    }

    .email{
        &:hover{
     
            svg{
                path{
                    fill:#141414;
                }
            }

        }
    }

    .github{
        &:hover{
     
            svg{
                path{
                    fill:#333333;
                }
            }

        }
    }

    .codepen{
        &:hover{
     
            svg{
                path{
                    fill:#212121;
                }
            }

        }
    }

}

.socials{

    transform: translateX(-50px);
    opacity: 0;
    animation: fadeInAnimationLeft .6s ease .6s forwards;
    position: absolute;
    left: 7vw;
    width: 100%;
    height: auto;
    top: 85vh;

    @media screen and (max-width: 900px) {
        display: none;
    }

    .icon{
        display: inline-block;
        height: 48px;
        width: auto;
        margin-right: 40px;
        transition:all .4s ease;

        svg{
            path{
                transition:all .4s ease;
            }
        }

        .dribbble{
            &:hover{
         
                svg{
                    path{
                        fill:#Ee66aa;
                    }
                }
    
            }
        }

        .behance{
            &:hover{
         
                svg{
                    path{
                        fill:#053eff;
                    }
                }
    
            }
        }

        .youtube{
            &:hover{
         
                svg{
                    path{
                        fill:#c4302b;
                    }
                }
    
            }
        }

        .twitter{
            &:hover{
         
                svg{
                    path{
                        fill:#00acee;
                    }
                }
    
            }
        }

        .instagram{
            &:hover{
         
                svg{
                    path{
                        fill:#E1306C;
                    }
                }
    
            }
        }

        .email{
            &:hover{
         
                svg{
                    path{
                        fill:#141414;
                    }
                }
    
            }
        }

        .github{
            &:hover{
         
                svg{
                    path{
                        fill:#333333;
                    }
                }
    
            }
        }

        .codepen{
            &:hover{
         
                svg{
                    path{
                        fill:#212121;
                    }
                }
    
            }
        }


    }

}

.main-info{
    position: relative;
    top: 0px;
    width: 100vw;
    height: auto;
    padding-top: 60px;
    padding-bottom: 120px;

    .content{
        width: 86vw;
        height: auto;
        margin: auto auto;

        .download{
            width: auto;

            img{
                margin-top: 50px;
                height: 90px;
                width: auto;

                @media screen and (max-width: 900px) {
                    margin-top: 25px;
                    height: 60px;
                }

            }

        }

        @media screen and (max-width: 900px) {
            top: 10vh;
            width: 90%;
            left: 5vw;
            transform: translate(0%,0%);
        }

        .companies{
            margin-top: 120px;
            width: 100%;
            height: auto;

            @media screen and (max-width: 900px) {
                margin-top: 60px;
            }

            .company{
                display: inline-block;
                margin-right: 60px;
                height: 50px;
                margin-bottom: 60px;
                width: auto;

                @media screen and (max-width: 900px) {
                    height: 30px;
                }

                img{
                    height: 100%;
                    width: auto;
                }

            }

        }


        h1{
            font-weight: 500;
            color:$black;
            font-size: 82px;
            margin-bottom: 45px;
            transform: translateX(-50px);
            opacity: 0;
            animation: fadeInAnimationLeft .6s ease .2s forwards;

            @media screen and (max-width: 1400px) {
                font-size: 62px;
            }

            @media screen and (max-width: 1100px) {
                font-size: 52px;
            }

            @media screen and (max-width: 900px) {
                font-size: 32px;
                margin-bottom: 30px;
            }

        }

        p{
            font-weight: 300;
            color: $grey;
            font-size: 48px;
            line-height: 170%;
            margin-bottom: 45px;
            max-width: 950px;
            transform: translateX(-50px);
            opacity: 0;
            animation: fadeInAnimationLeft .6s ease .4s forwards;

            @media screen and (max-width: 1400px) {
                font-size: 40px;
                max-width: 800px;
            }

            @media screen and (max-width: 1100px) {
                font-size: 32px;
                max-width: 600px;
            }

            @media screen and (max-width: 900px) {
                font-size: 24px;
                margin-bottom: 25px;
            }

            span{
                text-decoration: underline;
            }

        }

        .small{

            color: $lightgrey;
            font-size: 16px;

            @media screen and (max-width: 1400px) {
                font-size: 14px;
            }

            @media screen and (max-width: 1100px) {
                font-size: 12px;
            }

            @media screen and (max-width: 900px) {
                font-size: 10px;
            }

        }

    }


}

