body {
  margin: 0px;
  padding: 0px;
  font-family: 'Inter', sans-serif;
  color: #141414;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

h1 {
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
}

p {
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
}

.text-orange {
  color: #F6A040;
}

.text-pink {
  color: #F25C96;
}

.text-green {
  color: #5BD03D;
}

.text-blue {
  color: #318CF7;
}

.text-darkblue {
  color: #03008A;
}

@-webkit-keyframes fadeInAnimationLeft {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes fadeInAnimationLeft {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInAnimationRight {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes fadeInAnimationRight {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

.main {
  height: 100vh;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .main {
    height: calc(30vh + 400px);
  }
}

@media screen and (max-width: 400px) {
  .main {
    height: calc(30vh + 450px);
  }
}

.main .left-holder {
  width: 70%;
  height: 100%;
  display: inline-block;
  float: left;
}

@media screen and (max-width: 900px) {
  .main .left-holder {
    display: block;
    width: 100%;
    height: 400px;
    position: absolute;
    top: 30vh;
  }
}

@media screen and (max-width: 400px) {
  .main .left-holder {
    display: block;
    width: 100%;
    height: 450px;
    position: absolute;
    top: 30vh;
  }
}

.main .left-holder .content {
  width: 80%;
  height: auto;
  position: relative;
  top: 50vh;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 900px) {
  .main .left-holder .content {
    top: 10vh;
    width: 90%;
    left: 5vw;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

.main .left-holder .content h1 {
  font-weight: 500;
  color: #141414;
  font-size: 82px;
  margin-bottom: 45px;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  opacity: 0;
  -webkit-animation: fadeInAnimationLeft .6s ease .2s forwards;
          animation: fadeInAnimationLeft .6s ease .2s forwards;
}

@media screen and (max-width: 1400px) {
  .main .left-holder .content h1 {
    font-size: 62px;
  }
}

@media screen and (max-width: 1100px) {
  .main .left-holder .content h1 {
    font-size: 52px;
  }
}

@media screen and (max-width: 900px) {
  .main .left-holder .content h1 {
    font-size: 32px;
    margin-bottom: 30px;
  }
}

.main .left-holder .content p {
  font-weight: 300;
  color: #616161;
  font-size: 48px;
  line-height: 170%;
  margin-bottom: 45px;
  max-width: 950px;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  opacity: 0;
  -webkit-animation: fadeInAnimationLeft .6s ease .4s forwards;
          animation: fadeInAnimationLeft .6s ease .4s forwards;
}

@media screen and (max-width: 1400px) {
  .main .left-holder .content p {
    font-size: 40px;
    max-width: 800px;
  }
}

@media screen and (max-width: 1100px) {
  .main .left-holder .content p {
    font-size: 32px;
    max-width: 600px;
  }
}

@media screen and (max-width: 900px) {
  .main .left-holder .content p {
    font-size: 24px;
    margin-bottom: 25px;
  }
}

.main .left-holder .content p span {
  text-decoration: underline;
}

.main .left-holder .content .small {
  color: #B2B2B2;
  font-size: 16px;
}

@media screen and (max-width: 1400px) {
  .main .left-holder .content .small {
    font-size: 14px;
  }
}

@media screen and (max-width: 1100px) {
  .main .left-holder .content .small {
    font-size: 12px;
  }
}

@media screen and (max-width: 900px) {
  .main .left-holder .content .small {
    font-size: 10px;
  }
}

.main .right-holder {
  width: 30%;
  height: 100%;
  display: inline-block;
  float: right;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  opacity: 0;
  -webkit-animation: fadeInAnimationRight .8s ease .2s forwards;
          animation: fadeInAnimationRight .8s ease .2s forwards;
}

@media screen and (max-width: 900px) {
  .main .right-holder {
    display: block;
    width: 100%;
    height: 30vh;
    position: absolute;
    top: 0vh;
  }
}

.main .right-holder img {
  width: 100%;
  height: auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 900px) {
  .main .right-holder img {
    height: 100%;
    width: auto;
    float: right;
  }
}

.socials-mobile {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  opacity: 0;
  -webkit-animation: fadeInAnimationLeft .6s ease .6s forwards;
          animation: fadeInAnimationLeft .6s ease .6s forwards;
  position: relative;
  top: 0px;
  left: 5vw;
  display: none;
  width: 202px;
  padding-bottom: 100px;
}

@media screen and (max-width: 1000px) {
  .socials-mobile {
    display: block;
  }
}

.socials-mobile .icon {
  display: inline;
  margin-right: 24px;
}

.socials-mobile .margin-remover {
  margin-right: 0px !important;
}

.socials-mobile .divider {
  width: 100%;
  height: 2px;
  background: #fafafa;
  margin-top: 20px;
  margin-bottom: 20px;
}

.socials-mobile svg path {
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.socials-mobile .dribbble:hover svg path {
  fill: #Ee66aa;
}

.socials-mobile .behance:hover svg path {
  fill: #053eff;
}

.socials-mobile .youtube:hover svg path {
  fill: #c4302b;
}

.socials-mobile .twitter:hover svg path {
  fill: #00acee;
}

.socials-mobile .instagram:hover svg path {
  fill: #E1306C;
}

.socials-mobile .email:hover svg path {
  fill: #141414;
}

.socials-mobile .github:hover svg path {
  fill: #333333;
}

.socials-mobile .codepen:hover svg path {
  fill: #212121;
}

.socials {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  opacity: 0;
  -webkit-animation: fadeInAnimationLeft .6s ease .6s forwards;
          animation: fadeInAnimationLeft .6s ease .6s forwards;
  position: fixed;
  left: 7vw;
  width: 100%;
  height: auto;
  bottom: 10vh;
}

@media screen and (max-width: 1000px) {
  .socials {
    display: none;
  }
}

.socials .icon {
  display: inline-block;
  height: 48px;
  width: auto;
  margin-right: 40px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.socials .icon svg path {
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.socials .icon .dribbble:hover svg path {
  fill: #Ee66aa;
}

.socials .icon .behance:hover svg path {
  fill: #053eff;
}

.socials .icon .youtube:hover svg path {
  fill: #c4302b;
}

.socials .icon .twitter:hover svg path {
  fill: #00acee;
}

.socials .icon .instagram:hover svg path {
  fill: #E1306C;
}

.socials .icon .email:hover svg path {
  fill: #141414;
}

.socials .icon .github:hover svg path {
  fill: #333333;
}

.socials .icon .codepen:hover svg path {
  fill: #212121;
}
/*# sourceMappingURL=index.css.map */