$black: #141414;
$white: #ffffff;
$grey: #666666;
$main-accent-color: #66CACC;

@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Manrope';
    color: $black;
}

h1{
    font-size: 44px;
    text-align: center;
    font-weight: 800;
    margin:0px;
    padding: 0px;
    color: $black;
    letter-spacing: 2px;
}

h3{
    font-size: 28px;
    text-align: center;
    font-weight: 300;
    margin:0px;
    padding: 0px;
    color: $grey;
    letter-spacing: 1px;
}

.main{
    height: 100vh;
    width: 100%;
}

.holder{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    h1{
        margin-bottom: 8px;
    }
    h3{
        margin-bottom: 48px;
    }

}

.icons{
    margin: auto auto;
    text-align: center;
}

.icon{
    height: auto;
    width: 60px;
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
    cursor: pointer;
    
    i{
        font-size: 24px;
    }
}

.icon-dribbble{
    color: #ea4c89;
}

.icon-instagram{
    color: #E1306C;
}

.icon-linkedin{
    color: #0e76a8 ;
}

.icon-twitter{
    color:  #00acee;
}

.icon-mail{
    color: #D44638;
}