body{
    padding: 0px;
    margin: 0px;
    font-family: 'Inter', sans-serif;
}

a{
    text-decoration: none;
}


.nav{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 10px;
    background: #c6a5ff;;
}

.content {
    width: 80%;
    max-width: 1200px;
    margin: auto auto;
}

.content p{
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.34;
    font-weight: 400;
    letter-spacing: 0.05em;
    margin: 0px;
    padding: 0px;
}

.nav .content p{
    font-weight: 700;
    transform: translateX(0px);
    transition: all .3s ease;
}

.nav .content p:hover{
    transform: translateX(2px);
}

.container{
    width: 100%;
    padding-top: 40px;
    padding-bottom: 60px;
}

.header {
    background: #c6a5ff;
}

.content h1{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 60px;
    letter-spacing: -0.03em;
    color: #ffffff;
    line-height: 1;
    height: auto;
  }

  .content .header p{
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.34;
    font-weight: 400;
    letter-spacing: -0.02em;
  }

  @media (max-width: 900px) {
      .content h1{
          font-size: 40px;
      }
  }

  h6{
    color: #ffffff;
    font-weight: 400;
    line-height: 1.34;
    font-weight: 400;
    letter-spacing: -0.02em;
    font-size: 14px;
    padding-top: 20px;
    margin: 0px;
  }
  
  .projectsList .content{
      text-align: center;
  }

  .box{
      display: inline-grid;
      width: 100%;
      max-width: 320px;
      margin-left:40px;
      margin-right: 40px;
      margin-top: 40px;
      margin-bottom: 40px;
  }

  .projectsList .box img{
    width: 100%;
    height: auto;    
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .box h3{
    padding-top: 20px;
    padding-bottom: 10px;
    color: #08090a;
    font-size: 22px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -0.03em;
    width: 100%;
    text-align: left;
  }
  
  .box p{
    margin-bottom: 10px;
    color: #546285;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    font-weight: 400;
    width: 100%;
    text-align: left;
  }

  .redheader{
      background: #ff665e;
  }